.firts-screen {
  height: 480px;
  width: 100%;
  display: flex;
}

.firts-screen__header {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firts-screen__header button {
  padding: 10px 100px;
}

button {
  background: #C4C4C4;
  color: #FFF;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #E1E1e1;
}

.first-screen__slider {
  position: relative;
  width: 100%;
}

.slider__container {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("/../img/slider-img.png");
}

.slider__description {
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: #FFF;
}

.slider__prev img, .slider__next img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40%;
  cursor: pointer;
}
.slider__prev img:hover, .slider__next img:hover {
  transform: scale(1.1);
}

.slider__next img {
  right: 0;
}

.slider__prev img {
  transform: rotate(180deg);
}
.slider__prev img:hover {
  transform: scale(1.1) rotate(180deg);
}

.slider__icons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 20px;
  content: "";
  background-color: #C4C4C4;
}

@media (max-width: 960px) {
  .firts-screen__header h1 {
    font-size: 36px;
  }
  .firts-screen__header button {
    padding: 10px 60px;
  }

  .slider__description {
    font-size: 14px;
  }
  .slider__description h6 {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .firts-screen {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  .slider__container {
    position: static;
    width: 100%;
    min-height: 400px;
    top: auto;
    left: auto;
    transform: none;
  }

  .slider__description {
    bottom: 15%;
  }

  .slider__icons {
    position: static;
    bottom: auto;
    left: auto;
    transform: none;
  }

  .slider__icon {
    margin: 10px;
  }

  .firts-screen__header {
    width: 100%;
  }
  .firts-screen__header h1 {
    font-size: 25px;
  }
  .firts-screen__header button {
    padding: 10px 60px;
  }
}
@media (max-width: 600px) {
  .slider__container {
    min-height: 300px;
  }
}