.feedback{
	display: flex;
	margin-bottom: 200px;
	min-height: 600px;
}
.feedback__form{
	h2{
		margin-block-start: 2em;
		text-align: center;
	}
	width: 40%;
	.feedback__form-inputs{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		input{
			width: 420px;
			padding: 10px;
			border-radius: 10px;
			border:1px solid #C4C4C4;
			margin: 10px;
			color: #000;
			&::placeholder{
				text-transform: capitalize;
				color: #000;
			}
		}
		button{
			width: 420px;
			height: 50px;
			border-radius:10px;
			box-shadow: 2px 3px 4px -1px rgba(0, 0, 0, 0.45);

		}
		p.feedback__form-error{
			color: #f44336;
		}
		input.feedback__form-error{
			border: 1px solid red;
		}
	}
}
.feedback__images{
	position: relative;
	width: 60%;
	img{
		object-fit: cover;
	}
	
}
.feedback__image-1, .feedback__image-2, .feedback__image-3{
		width: 300px;
		height: 400px;
		border-radius: 15px;
		border: 2px solid #939393;
	}
	.feedback__image-2{
		width: 400px;
		height: 300px;
		z-index: 99;
	}
	.feedback__image-2{
		position: absolute;
		top: 65%;
		left: 20%;
	}
	.feedback__image-1{
		position: absolute;
		top: 10%;
		left: 0%;
	}
	.feedback__image-3{
		position: absolute;
		top: 30%;
		left: 60%;
	}
@media (max-width: 1200px)  {
	.feedback{
		margin-bottom: 100px !important;
	}
	.feedback__images{
		margin-top: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.feedback__image-3,{
		display: none;
	}
	.feedback__image-1,	.feedback__image-2{
		margin: 10px;
		position: static;
		width: 250px;
		height: 320px;
	}
	.feedback__form{
		.feedback__form-inputs{
			input{
				width: 220px;
			}
			button{
				width: 220px;
			}
		}
	}
}
@media (max-width: 960px)  {
	.feedback__image-2{
		display: none;
	}
	.feedback__image-1{
		position: static;
		width: 250px;
		height: 320px;
	}
}
@media (max-width: 600px)  {
	.feedback{
		flex-direction: column-reverse;
	}
	.feedback__form{
		h2{
			margin-block-start: 0.5em;
		}
		width: 100%;
	}
	.feedback__images{
		margin-top: 30px;
		width: 100%;
	}
}