.header{
	display: flex;
	justify-content: space-between;
	height: 60px;
	background-color: #C4C4C4;
	font-size: 16px;
}
.header__logo{
	width: 10%;
	text-align: center;
	line-height: 60px;
	a{
		font-size: 16px;
		color: #FFF;
	}
}

.header__navigation{
	ul{
		list-style-type: none;
		display: flex;
	}
	li{
		padding: 0 40px;
		display: inline-block;
		line-height: 58px;
		background-color: #E1E1e1;
		border: 1px solid #D6D6D6;
		a{
			color: #000;
		}
		&:hover{
			background-color: #D3D3D3;
		}
	}
}
.header__mobile-menu{
	display: none;

}
.header__navigation-none{
	display: none;
}
.open{
	display: block !important;
}

@media (max-width: 960px)  {
	.header__navigation{
		z-index: 9999;
		li{
		padding: 0 30px;
		}
	}
}
@media (max-width: 600px)  {
	.header__navigation{
		display: none;
		position: absolute;
		top:60px;
		right: 0;
		ul{
			flex-direction: column;
		}
		li{
			padding: 0 30px;
			line-height: 50px;
		}
	}
	.header__mobile-menu{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 20px;
		img{
			background-color: #E1E1e1;
			&:hover{
				background-color: #D6D6D6;
			}
		}
	}
	.header__logo{
		padding: 0 20px;
	}
}

